<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        
        <title>{{title}}</title>
        <link rel="icon" href="./img/weather.ico">
    </head>

    <body>
        <div class="main-content">
            {{>headers}}
            <img class="potrait" src="./img/me.jpg">
        </div>

        {{>footer}}
    </body>
</html>