<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        
        <title>{{title}}</title>
        <link rel="icon" href="./img/weather.ico">
    </head>

    <body>
        <div class="main-content">
            {{>headers}}
            <form>
                <input placeholder="Type location" type="text" id="location" name="location" required>
                <button  name="submit"> Search</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
        
        </div>
        
        {{>footer}}
        <script src="./js/app.js"></script>
    </body>
</html>